In [1]:
import numpy as np
import pandas as pd
import os

In [31]:
data_files = [i for i in os.listdir('updated_w_overall_counts') if 'il34' in i]

In [12]:
df = pd.read_excel(os.path.join('updated_w_overall_counts', data_files[0]), index_col = 0)

In [15]:
df.loc['Total Number of Spots'][0]

                               Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
Overall
Variable                            Value       Unit       Time         ID
Number of Spots per Time Point       8480        NaN          1        NaN
Total Number of Spots                8480        NaN        NaN        NaN

In [32]:
filename = []
total_il34 = []

for file in data_files:
    print(file)
    df = pd.read_excel(os.path.join('updated_w_overall_counts', file), index_col = 0)
    
    total_il34 = np.append(total_il34, df.loc['Total Number of Spots'][0])
    filename = np.append(filename, file.split(' ')[0])

D01_a_D01_1 Image 1_il34.xls
D01_b_D01_2 Image 2_il34.xls
D01_c_D01_3 Image 3_il34.xls
D01_e_D01_5 Image 5_il34.xls
D02_a_D02_0_il34.xls
D02_b_D02_1 Image 2_il34.xls
D02_c_D02_2 Image 3_il34.xls
D03_b_D03_2 Image 4_il34.xls
D03_c_D03_3 Image 3_il34.xls
D03_d_D03_4 Image 4_il34.xls
D04_b_D04_2 Image 2_il34.xls
D04_c_D04_3 Image 3_il34.xls
D04_d_D04_4 Image 4_il34.xls
D05_a_D05_1 Image 1_il34.xls
D05_b_D05_2 Image 2_il34.xls
D05_c_D05_3 Image 3_il34.xls
D06_a_D06_1 Image 1_il34.xls
D06_c_D06_3 Image 3_il34.xls
D06_d_D06_4 Image 4_il34.xls
D07_a_D07_1 Image 1_il34.xls
D07_b_D07_2 Image 2_il34.xls
D07_c_D07_3 Image 3_il34.xls
D08_a_D08_1 Image 1_il34.xls
D08_b_D08_2 Image 2_il34.xls
D08_d_D08_4 Image 4_il34_strange.xls
D09_a_D09_1 Image 1_il34.xls
D09_b_D09_2 Image 2_il34.xls
D09_c_D09_3 Image 3_il34.xls
D10_a_D10_1 Image 1_il34.xls
D10_b_D10_2 Image 2_il34.xls
D10_c_D10_3 Image 3_il34.xls
D10_d_D10_4 Image 4_il34.xls
D10_e_D10_5 Image 5_il34.xls
D11_a_D11_1 Image 1_il34.xls
D11_b_D11_2 Image 2_il34.xls
D11_c_D11_3 Image 3_il34.xls
D12_a_D12_1 Image 1_il34.xls
D12_b_D12_2 Image 2_il34.xls
D12_d_D12_3_512 Image 4_il34.xls
D13_a_D13_1 Image 1_il34.xls
D13_b_D13_2 Image 2_il34.xls
D13_c_D13_3 Image 3_il34.xls
D13_d_D13_4 Image 4_il34.xls
D13_e_D13_5 Image 5_il34.xls
D14_a_D14_1 Image 1_il34.xls
D14_b_D14_2 Image 2_il34.xls
D14_c_D14_3 Image 3_il34.xls
D14_d_D14_4 Image 4_il34.xls
D15_a_D15_1 Image 1_1_il34.xls
D15_a_D15_1 Image 1_il34.xls
D15_b_D15_2 Image 2_1_il34.xls
D15_b_D15_2 Image 2_il34.xls
D15_c_D15_3 Image 3_il34.xls
D15_d_D15_4 Image 4_il34.xls
D16_a_D16_1 Image 1_il34.xls
D16_b_D16_2 Image 2_il34.xls
D16_c_D16_3 Image 3_il34.xls
D16_d_D16_4 Image 4_il34.xls
D17_a_D17_1 Image 1_il34.xls
D17_b_D17_2 Image 2_il34.xls
D17_c_D17_3 Image 3_il34.xls
D18_a_D18_1 Image 1_il34.xls
D18_b_D18_2 Image 2_il34.xls
D18_c_D18_3 Image 3_il34.xls
D18_d_D18_4 Image 4_il34.xls
D18_e_D18_5 Image 5_il34.xls
D19_a_D19_1 Image 1_il34.xls
D19_b_D19_2 Image 2_il34.xls
D19_c_D19_3 Image 3_il34.xls
D19_d_D19_4 Image 4_il34.xls
D19_e_D19_5 Image 5_il34.xls
D20_a_D20_1 Image 1_il34.xls
D20_b_D20_2 Image 2_il34.xls
D20_c_D20_3 Image 3_il34.xls
D20_d_D20_4 Image 4_il34.xls
D20_e_D20_5 Image 5_il34.xls
D21_a_D21_1 Image 1_il34.xls
D21_b_D21_2 Image 2_il34.xls
D21_c_D21_3 Image 3_il34.xls
D21_d_D21_4 Image 4_il34.xls
D22_a_D22_1 Image 1_il34.xls
D22_b_D22_2 Image 2_il34.xls
D22_c_D22_3 Image 3_il34.xls
D22_d_D22_4 Image 4_il34.xls
D22_e_D22_5 Image 5_il34.xls
D22_f_D22_6 Image 6_il34_dont_use.xls
D23_a_D23_1 Image 1_il34.xls
D23_b_D23_2 Image 2_il34.xls
D23_c_D23_3 Image 3_il34.xls
D24_a_D24_1 Image 1_il34.xls
D24_b_D24_2 Image 2_il34.xls
D24_c_D24_3 Image 3_il34.xls
D24_d_D24_4 Image 4_il34.xls

In [37]:
pd.DataFrame(total_il34, index = filename).to_csv('total_il34_output.csv')